.account-history {
	margin: 0 auto;
}

.account-history .header {
	text-transform: uppercase;
	text-align: start;
	font-weight: normal;
	padding: 0.5rem 1rem;
	color: #555;
	color: var(--ai-secondary, #555);
	border-bottom: solid 1px #555;
	border-bottom-color: var(--ai-secondary, #555);
}

.account-history-list .history-list {
	list-style: none;
	padding: 0;
}

.account-history-list .history-item {
	border: 1px solid #D0D0D0;
	border-color: var(--ai-light, #D0D0D0);
	padding: 1rem;
	margin: 1rem;
}

.account-history-list .order-basic {
	font-weight: bold;
}

.account-history-list .name:after {
	content: ": ";
}

.account-history-list .action {
	margin-top: 0.5rem;
}

.account-history-list .action .btn {
	border: 1px solid #555;
	border-color: var(--ai-secondary, #555);
	display: block;
	width: 100%;
	max-width: 6rem;
	margin: auto;
}

.account-history-order {
	padding-top: 1rem;
}

.account-history-order a:hover {
	text-decoration: underline;
}

.account-history-order .modify {
	float: right;
	margin: 0 1rem;
}

[dir="rtl"] .account-history-order .modify {
	float: left;
}

.account-history-order h2 {
	margin: 0.5rem 0;
}

.account-history-order h3 {
	display: inline-block;
	font-size: 1rem;
	margin: 0;
}

.account-history-order li.attr-item .name,
.account-history-order li.attr-item .value {
	min-width: 0;
}
