/* Basket bulk order */

.basket-bulk {
	margin: 2rem 0;
}

.basket-bulk .headline,
.basket-bulk .bulk-content .details {
	border-bottom: 1px solid #555;
	border-bottom-color: var(--ai-secondary, #555);
	align-items: center;
}

.basket-bulk .headline {
	background-color: #CCCCCC;
	background-color: var(--ai-bg-light, #CCCCCC);
	font-weight: bold;
}

.basket-bulk .form-control {
	border: none;
}

.basket-bulk .quantity,
.basket-bulk .quantity input {
	text-align: center;
}

.basket-bulk .price {
	text-align: end;
}

.basket-bulk .product,
.basket-bulk .price {
	padding: 0 .75rem;
}

.basket-bulk .buttons {
	text-align: center;
}

.basket-bulk .minibutton {
	color: #A00000;
	color: var(--ai-primary, #A00000);
	line-height: 1;
	width: 2.5rem;
	padding: 0.75rem;
}


/* JS autocomplete */

.autocomplete {
	z-index: 1050;
	overflow: auto;
	box-sizing: border-box;
	border: 1px solid #555;
	border-color: var(--ai-secondary, #555);
	background-color: #FFF;
	background-color: var(--ai-bg, #FFF);
}

.autocomplete > div {
	padding: 0.25rem;
}

.autocomplete .group {
	background-color: #F6F6F6;
	background-color: var(--ai-bg-light, #F6F6F6);
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
	cursor: pointer;
	background-color: #CCC;
	background-color: var(--ai-tertiary, #CCC);
}
