/* Basket bulk order */

.bulk-main{
	border-bottom: 1px solid #555;
	border-bottom-color: var(--ai-secondary, #555);
	padding-bottom: 0.5rem;
}

.basket-bulk .headline {
	font-weight: bold;
	border-bottom: 1px solid #555;
	border-bottom-color: var(--ai-secondary, #555);
	color: #555;
	color: var(--ai-secondary, #555);
	font-weight: bold;
	background-color: #CCCCCC;
	background-color: var(--ai-bg-light, #CCCCCC);
	padding: 0.25rem 0;
	margin-bottom: 0.5rem;
}

.basket-bulk .quantity {
	text-align: center;
}

.basket-bulk .price {
	text-align: right;
}

.basket-bulk .headline .product,
.basket-bulk .quantity input {
	padding-left: 1rem;
}

.basket-bulk .buttons {
	text-align: right;
}

.basket-bulk .minibutton {
	color: #A00000;
	color: var(--ai-primary, #A00000);
	padding: 0 0.5rem;
	line-height: 1;
	width: 2rem;
}


/* JS autocomplete */

.autocomplete {
	z-index: 1050;
	overflow: auto;
	box-sizing: border-box;
	border: 1px solid #555;
	border-color: var(--ai-secondary, #555);
	background-color: #FFF;
	background-color: var(--ai-bg, #FFF);
}

.autocomplete > div {
	padding: 0.25rem;
}

.autocomplete .group {
	background-color: #F6F6F6;
	background-color: var(--ai-bg-light, #F6F6F6);
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
	cursor: pointer;
	background-color: #CCC;
	background-color: var(--ai-primary-light, #CCC);
}
