/* Product details */

/* Product detail, basic section */
.catalog-detail-basic h1.name {
	text-transform: uppercase;
	font-size: 125%;
	color: #555;
	color: var(--ai-secondary, #555);
	margin: 0;
	padding: 0;
	padding-bottom: 0.5rem;
}

.catalog-detail-basic .supplier,
.catalog-detail-basic .site,
.catalog-detail-basic .code {
	font-size: 80%;
}

.catalog-detail-basic .short {
	display: none;
}

@media (max-width: 480px) {
	.catalog-detail-basic {
		clear: both;
	}
}


/* Image */

.catalog-detail-image {
	margin-bottom: 2rem;
}

.catalog-detail-image .item-thumb {
	opacity: 0.7;
}

.catalog-detail-image .image-single,
.catalog-detail-image .thumbs-horizontal {
	overflow: hidden;
}

.catalog-detail-image .image-single .media-item .item,
.catalog-detail-image .pswp video {
	max-width: 100%;
	max-height: 100%;
	position: relative;
}

.catalog-detail-image .image-single,
.catalog-detail-image .image-single .media-item,
.catalog-detail-image .image-single img.item {
	max-height: calc((100vw - 30px) * 1.333);
}

.catalog-detail-image .thumbs-horizontal,
.catalog-detail-image .thumbs-horizontal .slick-slider,
.catalog-detail-image .thumbs-horizontal img.item-thumb {
	max-height: calc((100vw - 30px) / 4 * 1.333);
}

@media screen and (min-width: 576px) {
	.catalog-detail-image .image-single,
	.catalog-detail-image .image-single .media-item,
	.catalog-detail-image .image-single img.item {
		max-height: calc((100vw / 2 - 30px) * 1.333);
	}

	.catalog-detail-image .thumbs-horizontal,
	.catalog-detail-image .thumbs-horizontal .slick-slider,
	.catalog-detail-image .thumbs-horizontal img.item-thumb {
		max-height: calc((100vw / 2 - 30px) / 4 * 1.333);
	}
}

@media screen and (min-width: 1200px) {
	.catalog-detail-image .image-single,
	.catalog-detail-image .image-single .media-item,
	.catalog-detail-image .image-single img.item {
		max-height: 760px;
	}

	.catalog-detail-image .thumbs-horizontal,
	.catalog-detail-image .thumbs-horizontal .slick-slider,
	.catalog-detail-image .thumbs-horizontal img.item-thumb {
		height: auto;
	}
}


/* Product detail, social section / action buttons */
.catalog-detail .catalog-social {
	margin: .5rem 0;
	float: right;

}

.catalog-detail .catalog-social .social-button,
.catalog-detail .catalog-actions .actions-button {
	font: normal normal normal 14px/1 bootstrap-icons;
	font-size: 150%;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background: none;
	border: none;
	width: 48px;
	height: 48px;
}

.catalog-detail .catalog-actions form {
	display: inline-block;
}

.catalog-detail .catalog-social .social-button-facebook:before,
.catalog-detail .catalog-social .social-button-twitter:before,
.catalog-detail .catalog-social .social-button-pinterest:before {
	display: inline-block;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.catalog-detail .catalog-social .social-button-facebook:before {
	content: "\f344";
}

.catalog-detail .catalog-social .social-button-whatsapp:before {
	content: "\f618";
}

.catalog-detail .catalog-social .social-button-twitter:before {
	content: "\f5ef";
}

.catalog-detail .catalog-social .social-button-pinterest:before {
	content: "\f663";
}

/* action buttons */
.catalog-detail .catalog-actions {
	float: left;
	margin: .5rem 0;
}

.catalog-detail .catalog-actions .actions-button-favorite:before {
	content: "\f417";
}

.catalog-detail .catalog-actions .actions-button-pin:before {
	content: "\f4eb";
}

.catalog-detail .catalog-actions .actions-button-watch:before {
	content: "\f341";
}

@media (min-width:576px) {

	.catalog-detail .catalog-actions .actions-button,
	.catalog-detail .catalog-social .social-button {
		width: 48px;
		height: 48px;
	}

	.catalog-detail .catalog-social,
	.catalog-detail .catalog-actions{
		margin: .5rem 0;
	}

}

@media (max-width:768px) {

	.catalog-detail .catalog-actions .actions-button,
	.catalog-detail .catalog-social .social-button {
		width: 36px;
		height: 36px;
	}

}

[dir="rtl"] .catalog-detail .catalog-social{
	float: right;
}

[dir="rtl"] .catalog-detail .catalog-actions{
	float: left;
}

[dir="rtl"] .catalog-detail .catalog-social .social-button,
[dir="rtl"] .catalog-detail .catalog-actions .actions-button{
	text-align: end
}


/* Product detail, basket section */
.catalog-detail-basket {
	margin: 1rem 0;
}

.catalog-detail-basket .price-list {
	display: none;
	color: #555;
	color: var(--ai-secondary, #555);
}

.catalog-detail-basket .price {
	display: none;
}

.catalog-detail-basket .price-actual {
	display: inline-block;
}

.catalog-detail-basket .price-item:first-of-type {
	display: block;
	font-size: 100%;
	font-weight: bold;
}

.catalog-detail-basket .price-item:first-of-type {
	display: block;
	cursor: pointer;
}

.catalog-detail-basket .price-item:first-of-type:after {
	font: normal normal normal 14px/1 bootstrap-icons;
	content: "\f282";
}

.catalog-detail-basket .price-item.toggle-js:first-of-type:after {
	font: normal normal normal 14px/1 bootstrap-icons;
	content: "\f286";
}

.catalog-detail-basket .price-item:last-of-type:after {
	content: "";
}

.catalog-detail-basket .price-item .quantity,
.catalog-detail-basket .price-item .value,
.catalog-detail-basket .price-item .costs,
.catalog-detail-basket .price-item .rebate,
.catalog-detail-basket .price-item .taxrate {
	vertical-align: baseline;
	display: inline-block;
	margin: 0.25rem 0;
	min-width: 4rem;
}

.catalog-detail-basket .price-item .rebatepercent {
	min-width: auto;
	position: relative;
	vertical-align: middle;
	margin-bottom: .3rem;
	line-height: 1;
}

.catalog-detail-basket .price-item:first-of-type .taxrate {
	display: inline-block;
	padding: 0 1rem;
}

.catalog-detail-basket .price-item:first-of-type .quantity,
.catalog-detail-basket .price-item .rebate,
.catalog-detail-basket .price-item .taxrate {
	display: none;
}

.catalog-detail-basket .price-item .taxrate {
	font-size: 80%;
}

/* add to basket */
.catalog-detail-basket .addbasket {
	margin-top: 1rem;
}

.catalog-detail-basket .addbasket .input-group {
	margin: auto;
}

/* services */
.catalog-detail-basket .service-intro {
	cursor: pointer;
	color: #555;
	color: var(--ai-secondary, #555);
}

.catalog-detail-service .service-list {
	list-style: none;
	color: #A0A0A0;
	padding: 0;
	max-width: 20rem;
	max-height: 10rem;
	overflow-y: auto;
	display: none;
}

.catalog-detail-service .service-name {
	display: inline-block;
	min-width: 8rem;
}

.catalog-detail-service .service-item .price-item {
	display: inline-block;
	text-align: end;
	min-width: 4rem;
}

.catalog-detail-service .service-item .price-item .costs {
	display: block;
}

.catalog-detail-service .service-item .price-item .value,
.catalog-detail-service .service-item .price-item .taxrate {
	display: none;
}

.catalog-detail-service .service-item .service-short {
	display: none;
}

.catalog-detail-basket .selection,
.catalog-detail-basket .attribute {
	margin: 1.5rem 0;
}

.catalog-detail-basket .selection,
.catalog-detail-basket .attribute {
	color: #555;
	color: var(--ai-secondary, #555);
	width: 100%;
	padding: 0;
}

.catalog-detail-basket .selection,
.catalog-detail-basket .attribute {
	padding: 0;
}

.catalog-detail-basket .select-attr {
	width: 25%;
}

.catalog-detail-basket .select-stock {
	text-align: center;
	width: 10%;
}

.catalog-detail-basket .select-stock .stockitem,
.catalog-detail-basket .select-stock .stocklevel {
	display: block;
}

.catalog-detail-basket .select-stock .stocktext {
	display: none;
}

.catalog-detail-basket .select-quantity {
	text-align: center;
	width: 15%;
}

.catalog-detail-basket .select-item {
	margin-top: 1rem;
	list-style: none;
}

.catalog-detail-baske .select-name {
	min-width: 5rem;
	font-weight: bold;
}

.catalog-detail-basket .select-hint {
	font-size: 80%;
	min-width: 5rem;
}

.catalog-detail-basket ul.select-list {
	padding: 0;
}

.catalog-detail-basket li.select-entry {
	list-style: none;
}

.catalog-detail-basket .input .select-entry {
	margin: 0.1rem 0;
}

.catalog-detail-basket .radio li.select-entry {
	display: inline-block;
	margin: 0;
}

.catalog-detail-basket .radio input.select-option {
	display: none;
}

.catalog-detail-basket .select-label {
	width: calc(100% - 4rem);
	font-weight: normal;
	margin-bottom: 0;
}

.catalog-detail-basket .color .select-label {
	border: 1px solid #FFF;
	border-color: var(--ai-bg-alt, #FFF);
	line-height: 0;
}

.catalog-detail-basket .select-label > span {
	padding: 0 0.25rem;
	min-width: 1.5rem;
}

.catalog-detail-basket .radio .select-label {
	border: 1px solid #D0D0D0;
	border-color: var(--ai-light, #D0D0D0);
	padding: 0.525rem;
	text-align: center;
	min-width: 2.5rem;
	width: auto;
}

.catalog-detail-basket .select-option:checked + .select-label {
	border: 1px solid #555;
	border-color: var(--ai-secondary, #555);
	background-color: #555;
	background-color: var(--ai-secondary, #555);
	color: #FFF;
	color: var(--ai-bg-alt, #FFF);
}

.catalog-detail-basket .select-option:disabled + .select-label {
	opacity: 0.25;
}

.catalog-detail-basket .selection .select-option:disabled + .select-label:after {
	position: absolute;
	content: "";
	width: 2.25rem;
	transform-origin: 0% 0%;
	transform: rotate(135deg);
	border-top: 1px solid #555;
	border-color: var(--ai-secondary, #555);
}

.catalog-detail-basket .selection input[type=number] {
	border-bottom: solid 1px #555;
	border-color: var(--ai-secondary, #555);
	text-align: center;
	padding: 0;
}

.catalog-detail-basket .select-quantity input[type=number] {
	width: 4rem;
	margin: 0 auto;
	border: 1px solid #555;
	border-color: var(--ai-secondary, #555);
}

.catalog-detail-basket .media-item {
	display: inline-block;
	line-height: 0;
	padding: 0;
	margin: 0;
}

.catalog-detail-basket .media-item > img {
	border: none;
	height: 1.3rem;
	width: 1.3rem;
}

.catalog-detail-basket .media-item + span {
	display: none;
}

.catalog-detail-basket .error {
	color: #FF3300;
	color: var(--ai-danger, #FF3300);
}

.catalog-detail-basket .error select {
	border: 1px solid #FF3300;
	border-color: var(--ai-danger, #FF3300);
}


/* Product detail, additional section */
.catalog-detail-additional .block {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.catalog-detail-additional .item {
	margin: 1%;
}

/* Hide attributes and properties from sub-products*/
.catalog-detail-additional .subproduct {
	display: none;
}
.catalog-detail-additional .subproduct-actual {
	display: table-row;
}

/* Product detail, additional attributes/properties section */
.catalog-detail-additional table.attributes,
.catalog-detail-additional table.properties {
	margin: 1%;
	width: 98%;
}

.catalog-detail-additional .attributes td,
.catalog-detail-additional .properties td {
	padding: 1%;
	width: 48%;
}

.catalog-detail-additional .attributes .media-list {
	display: inline-block;
}

.catalog-detail-additional .attributes .media-item {
	display: inline-block;
}

.catalog-detail-additional .attributes img {
	height: 1rem;
}

/* Product detail, additional download section */
.catalog-detail-additional .downloads .media-image {
	height: 3rem;
}


/* Supplier information */
.catalog-detail-supplier .content .supplier-name {
	text-transform: uppercase;
	margin: 1rem 0;
}

.catalog-detail-supplier .content {
	padding: 1%;
}

.catalog-detail-supplier .media-item {
	float: right;
	margin: 1rem;
}

[dir="rtl"] .catalog-detail-supplier .media-item {
	float: left;
}

.catalog-detail-supplier .media-item img {
	max-width: 400px;
	width: 100%;
}


/* Stock level */
.aimeos .catalog-detail-basket .stock-list {
	text-align: center;
	padding: 0.5rem 0;
	width: 100%;
}

.aimeos .catalog-detail-basket .stock-actual .stockitem {
	display: block;
}

.aimeos .catalog-detail-basket .stocklevel {
	display: none;
}

.aimeos .catalog-detail-basket .stocktext {
	display: block;
}

.aimeos .catalog-detail-basket .stock-unlimited,
.aimeos .catalog-detail-basket .stock-high {
	color: #006000;
	color: var(--ai-success, #006000);
}

.aimeos .catalog-detail-basket .stock-low {
	color: #E08000;
	color: var(--ai-warning, #E08000);
}

.aimeos .catalog-detail-basket .stock-out {
	color: #A00000;
}


/* Rating */

.catalog-detail-basic .rating {
	text-align: start;
}

.catalog-detail-basic .rating-value,
.catalog-detail-basic .ratings {
	display: none;
}

.catalog-detail-additional .rating-numbers {
	margin-bottom: 1rem;
}

.catalog-detail-additional .rating-num {
	font-size: 125%;
	float: left;
}

[dir="rtl"] .catalog-detail-additional .rating-num {
	float: right;
}

.catalog-detail-additional .rating-total {
	font-size: 125%;
	float: right;
}

[dir="rtl"] .catalog-detail-additional .rating-total {
	float: left;
}

.catalog-detail-additional .rating-stars {
	display: none;
}

.catalog-detail-additional .rating-dist {
	vertical-align: middle;
	clear: both;
}

.catalog-detail-additional .rating-label label {
	margin: 0;
}

.catalog-detail-additional .rating-percent {
	padding-inline-start: 0.5rem;
	width: 100%;
}

.catalog-detail-additional .reviews tr,
.catalog-detail-additional .reviews tr:last-child {
	border-bottom: none;
}

.catalog-detail-additional .review-list .sort {
	text-align: end;
	display: block;
	margin: 0 2.5%;
}

.catalog-detail-additional .review-name {
	font-weight: bold;
	padding: 0.5rem 0;
}

.catalog-detail-additional .review-ctime {
	font-size: 80%;
}

.catalog-detail-additional .review-rating {
	font-weight: bold;
	padding: 0.5rem 0;
}

.catalog-detail-additional .review-comment {
	padding: 1rem 0;
}

.catalog-detail-additional .review-response {
	background: #f8f8f8;
	padding: 1rem;
}

.catalog-detail-additional .review-vendor {
	font-size: 80%;
	margin: -0.5rem;
	margin-bottom: 0.5rem;
}

.catalog-detail-additional .review-item {
	border-bottom: 1px solid #555;
	border-color: var(--ai-secondary, #555);
	margin: 1rem;
	max-height: 15rem;
	overflow: hidden;
	position: relative;
}

.catalog-detail-additional .review-show {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 2rem;
	text-align: center;
	background: linear-gradient(0deg, white 0% 50%, transparent);
}

.catalog-detail-additional .review-list .more {
	display: none;
	margin: auto;
}

.catalog-detail-additional .review-list .more.show {
	display: block;
}

.catalog-detail .product .text-list {
	margin: 0.5rem 0;
}

/* product suggest, product bought */

.aimeos .catalog-detail-suggest .supplier,
.aimeos .catalog-detail-bought .supplier{
	   display: none;
}

.aimeos .catalog-detail-suggest .product .rating,
.aimeos .catalog-detail-bought .product .rating{
	   margin: .25rem 0;
}

.aimeos .catalog-detail-suggest .text-list h2,
.aimeos .catalog-detail-bought .text-list h2{
	   height: 2.5rem;
	   text-align: start;
}

.aimeos .catalog-detail-suggest .text-list,
.aimeos .catalog-detail-bought .text-list{
	   text-align: start;
	   padding: 0;
}

.aimeos .catalog-detail-suggest .product .text-item,
.aimeos .catalog-detail-bought .product .text-item{
	   height: 5rem;
	   text-align: start;
	   display: none;
}

.aimeos .catalog-detail-suggest .offer,
.aimeos .catalog-detail-bought .offer{
	   text-align: start;
}

.catalog-detail .product .price-list .rebate {
	display: none;
}

.catalog-detail-bought,
.catalog-detail-bundle,
.catalog-detail-suggest {
	clear: both;
	padding: 0;
	text-align: center;
	margin: 1rem 0;
}

.catalog-detail .header {
	border-bottom: solid 1px #555;
	border-bottom-color: var(--ai-secondary, #555);
	text-transform: uppercase;
	text-align: start;
	font-weight: normal;
	padding: 0.5rem 1rem;
	color: #555;
	color: var(--ai-secondary, #555);
}

.catalog-detail-bought .product,
.catalog-detail-bundle .product,
.catalog-detail-suggest .product {
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align: right;
	width: 160px;
	margin: 1%;
	padding: 0;
}

.catalog-detail-bought .media-list,
.catalog-detail-bundle .media-list,
.catalog-detail-suggest .media-list {
	background-color: #F6f6F6;
	background-color: var(--ai-bg-alt, #F6f6F6);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: relative;
	text-align: center;
	overflow: hidden;
	height: 213px;
	width: 160px;
	display: block;
}

.catalog-detail-bought .media-item,
.catalog-detail-bundle .media-item,
.catalog-detail-suggest .media-item {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 213px;
	width: 160px;
}

.catalog-detail-bought .media-item img,
.catalog-detail-bundle .media-item img,
.catalog-detail-suggest .media-item img {
	position: relative;
	max-width: 100%;
	display: block;
	margin: auto;
	height: auto;
	top: 50%;
	transform: translate(0, -50%);
}

.catalog-detail-bought .name,
.catalog-detail-bundle .name,
.catalog-detail-suggest .name {
	margin: 0;
	padding: 0;
	height: 1rem;
	font-size: 100%;
	font-weight: normal;
	overflow: hidden;
	text-transform: uppercase;
	max-width: 15rem;
	margin: .75rem auto;
}

/*suggested, bought Items hover transition*/

.catalog-detail-suggest .media-list .media-item,
.catalog-detail-bought .media-list .media-item{
	position: absolute;
}

.catalog-detail-suggest .media-list div:first-of-type,
.catalog-detail-bought .media-list div:first-of-type{
	opacity: 1;
	transition: opacity .3s linear;
	z-index: 1;
}

.catalog-detail-suggest .media-list:hover div:first-of-type,
.catalog-detail-bought .media-list:hover div:first-of-type{
	opacity: 0;
	transition: opacity .3s linear;
}


/* Swiffy slider */

.swiffy-slider {
    position: relative;
    display: block;
    width: 100%;
    --swiffy-slider-snap-align: center;
    --swiffy-slider-item-width: 100%;
    --swiffy-slider-item-gap: 1rem;
    --swiffy-slider-item-reveal: 0rem;
    --swiffy-slider-item-ratio: 2/1;
    --swiffy-slider-item-count: 1;
    --swiffy-slider-nav-light: #fff;
    --swiffy-slider-nav-dark: #333;
    --swiffy-slider-nav-zoom: 1;
    --swiffy-slider-track-opacity: 0.1;
    --swiffy-slider-track-height: 0;
    --swiffy-slider-nav-outside-size: 3.5rem;
    --swiffy-slider-indicator-outside-size: 1.5rem;
    --swiffy-slider-animation-duration: .75s;
    --swiffy-slider-animation-delay: 0s;
    --swiffy-slider-animation-timing: ease-in-out;
}

.swiffy-slider,
.swiffy-slider::after,
.swiffy-slider::before {
    box-sizing: border-box;
}

.swiffy-slider ::-webkit-scrollbar {
    height: var(--swiffy-slider-track-height);
}

.swiffy-slider ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, var(--swiffy-slider-track-opacity));
}

.swiffy-slider ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
}

.swiffy-slider ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6);
}

.slider-container {
    --swiffy-slider-item-gap-totalwidth: calc(var(--swiffy-slider-item-gap) * (var(--swiffy-slider-item-count) - 1));
    --swiffy-slider-item-width: calc((100% - var(--swiffy-slider-item-reveal) - var(--swiffy-slider-item-gap-totalwidth)) / var(--swiffy-slider-item-count));
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: grid;
    align-items: center;
    height: 100%;
    grid: auto / auto-flow max-content;
    grid-auto-rows: 100%;
    grid-auto-columns: var(--swiffy-slider-item-width);
    grid-auto-flow: column;
    grid-gap: var(--swiffy-slider-item-gap);
    list-style: none;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    scrollbar-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, var(--swiffy-slider-track-opacity));
    background-clip: padding-box;
}

.slider-container>* {
    /*The slides*/
    scroll-snap-align: var(--swiffy-slider-snap-align);
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-item-helper .slider-container>* {
    background-size: cover;
    background-color: #e1e1e1;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-item-helper:not(.slider-item-ratio) .slider-container>* {
    min-height: 20rem;
}

.slider-item-ratio .slider-container>*>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-item-ratio-contain .slider-container>*>* {
    object-fit: contain;
}

.slider-item-ratio .slider-container>*::after {
    display: block;
    padding-top: calc( 100% / (var(--swiffy-slider-item-ratio)));
    content: "";
}

.slider-item-ratio-32x9 {
    --swiffy-slider-item-ratio: 32/9;
}

.slider-item-ratio-21x9 {
    --swiffy-slider-item-ratio: 21/9;
}

.slider-item-ratio-16x9 {
    --swiffy-slider-item-ratio: 16/9;
}

.slider-item-ratio-4x3 {
    --swiffy-slider-item-ratio: 4/3;
}

.slider-item-ratio-2x1 {
    --swiffy-slider-item-ratio: 2/1;
}

.slider-item-ratio-1x1 {
    --swiffy-slider-item-ratio: 1/1;
}

.slider-item-ratio-3x4 {
    --swiffy-slider-item-ratio: 3/4;
}

.slider-nav-scrollbar {
    --swiffy-slider-track-height: 0.5rem;
}

.slider-nav-scrollbar .slider-container {
    scrollbar-width: thin;
}

.slider-nav-nodelay .slider-container {
    scroll-behavior: auto;
}

.slider-indicators {
    position: absolute;
    right: 2rem;
    bottom: 0;
    left: 2rem;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
    list-style: none;
}

.slider-nav-scrollbar .slider-indicators {
    margin-bottom: calc(1rem + var(--swiffy-slider-track-height));
}

.slider-indicators>*.active {
    opacity: 1;
}

.swiffy-slider.slider-indicators-outside .slider-nav {
    margin-bottom: var(--swiffy-slider-indicator-outside-size);
}

.swiffy-slider.slider-indicators-outside {
    padding-bottom: var(--swiffy-slider-indicator-outside-size);
}

.swiffy-slider.slider-indicators-outside.slider-indicators,
.swiffy-slider.slider-indicators-outside .slider-indicators {
    margin-bottom: 0;
}

.slider-indicators>* {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 2rem;
    height: .2rem;
    padding: 0;
    border: .4rem solid transparent;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    opacity: .5;
    transition: opacity .4s ease;
}

.slider-indicators-square.slider-indicators>*,
.slider-indicators-square .slider-indicators>* {
    width: .5rem;
    height: .5rem;
    border: .4rem solid transparent;
}

.slider-indicators-round.slider-indicators>*,
.slider-indicators-round .slider-indicators>* {
    width: .5rem;
    height: .5rem;
    border: .4rem solid transparent;
    border-radius: 50%;
}

.slider-indicators-highlight.slider-indicators>*.active,
.slider-indicators-highlight .slider-indicators>*.active {
    border: .33rem solid transparent;
    padding: .07rem;
}

.slider-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    visibility: hidden;
    opacity: 0.8;
    transition: visibility 0.1s, opacity 0.2s linear;
    margin-bottom: var(--swiffy-slider-track-height);
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    filter: drop-shadow(0 0 .5rem rgba(0, 0, 0, .5));
    transform: scale(var(--swiffy-slider-nav-zoom));
}

.slider-nav::before {
    position: absolute;
    content: "";
    padding: .5rem;
    width: 3rem;
    height: 3rem;
}

.slider-nav::after {
    content: "";
    mask: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'></path></svg>");
    mask-size: cover;
    background-color: var(--swiffy-slider-nav-light);
    background-origin: content-box;
    width: 3rem;
    height: 3rem;
}

.slider-nav-arrow .slider-nav::after {
    mask: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z'></path></svg>");
}

.slider-nav-chevron .slider-nav::after {
    mask: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z'></path></svg>");
}

.slider-nav-caret .slider-nav::after {
    mask: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path d='M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z'></path></svg>");
}

.slider-nav-caretfill .slider-nav::after {
    mask: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path d='m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z'></path></svg>");
}

.swiffy-slider:hover .slider-nav {
    visibility: visible;
}

.slider-nav-outside .slider-container {
    margin: 0 var(--swiffy-slider-nav-outside-size);
}

.slider-nav-outside .slider-nav {
    padding: 0;
}

.swiffy-slider .slider-nav:hover {
    opacity: 1;
}

.slider-nav-square .slider-nav {
    padding: 0;
}

.slider-nav-round .slider-nav::before,
.slider-nav-square .slider-nav::before {
    background-color: var(--swiffy-slider-nav-light);
}

.slider-nav-round .slider-nav::after,
.slider-nav-square .slider-nav::after {
    background-color: var(--swiffy-slider-nav-dark);
    width: 2rem;
    height: 2rem;
    margin: .5rem;
}

.slider-nav-round .slider-nav::before {
    border-radius: 50%;
}

.slider-nav-round .slider-nav::after {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3E%3Cpath fill-rule='evenodd' d='M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z'%3E%3C/path%3E%3C/svg%3E");
}

.slider-nav-dark .slider-nav::after {
    background-color: var(--swiffy-slider-nav-dark);
}

.slider-nav-dark.slider-nav-round .slider-nav::before,
.slider-nav-dark.slider-nav-square .slider-nav::before {
    background-color: var(--swiffy-slider-nav-dark);
}

.slider-nav-dark.slider-nav-round .slider-nav::after,
.slider-nav-dark.slider-nav-square .slider-nav::after {
    background-color: var(--swiffy-slider-nav-light);
}

.slider-nav-sm {
    --swiffy-slider-nav-zoom: .75;
    --swiffy-slider-nav-outside-size: 2.5rem;
}

.slider-nav.slider-nav-next::after {
    transform: rotate(180deg);
}

.slider-nav.slider-nav-next {
    right: 0;
}

.slider-nav-visible .slider-nav {
    visibility: visible;
}

.slider-nav-dark .slider-nav {
    opacity: 0.6;
}

.slider-indicators-dark.slider-indicators>*,
.slider-indicators-dark .slider-indicators>* {
    filter: invert(1);
}

.slider-item-snapstart {
    --swiffy-slider-snap-align: start;
}

.slider-item-nosnap {
    --swiffy-slider-snap-align: unset;
}

.slider-item-nogap {
    --swiffy-slider-item-gap: 0rem;
}

.slider-item-reveal {
    --swiffy-slider-item-reveal: 8rem;
}

.slider-item-snapstart.slider-item-reveal {
    --swiffy-slider-item-reveal: 4rem;
}

.slider-item-show2 {
    --swiffy-slider-item-count: 2;
}

.slider-item-show3 {
    --swiffy-slider-item-count: 3;
}

.slider-item-show4 {
    --swiffy-slider-item-count: 4;
}

.slider-item-show5 {
    --swiffy-slider-item-count: 5;
}

.slider-item-show6 {
    --swiffy-slider-item-count: 6;
}

.slider-nav-mousedrag .slider-container {
    cursor: grab;
}

.slider-nav-mousedrag .slider-container.dragging {
    scroll-snap-type: unset;
    scroll-behavior: unset;
    user-select: none;
}

.slider-nav-mousedrag .slider-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    .slider-nav-animation.slider-nav-animation-fast {
        --swiffy-slider-animation-duration: .25s;
    }
    .slider-nav-animation.slider-nav-animation-slow {
        --swiffy-slider-animation-duration: 1.25s;
    }
    .slider-nav-animation .slider-container>*>* {
        transition: opacity var(--swiffy-slider-animation-duration) var(--swiffy-slider-animation-timing), transform var(--swiffy-slider-animation-duration) var(--swiffy-slider-animation-timing);
        transition-delay: var(--swiffy-slider-animation-delay);
    }
    .slider-nav-animation .slider-container .slide-visible>* {
        transition: opacity var(--swiffy-slider-animation-duration) var(--swiffy-slider-animation-timing), transform var(--swiffy-slider-animation-duration) var(--swiffy-slider-animation-timing);
        transition-delay: var(--swiffy-slider-animation-delay);
    }
    .slider-nav-animation.slider-nav-animation-fadein .slider-container>*>* {
        opacity: 0.5;
    }
    .slider-nav-animation.slider-nav-animation-scale .slider-container>*>* {
        transform: scale(.9);
    }
    .slider-nav-animation.slider-nav-animation-appear .slider-container>*>* {
        opacity: 0.3;
        transform: scale(.9);
    }
    .slider-nav-animation.slider-nav-animation-scaleup .slider-container>*>* {
        transform: scale(.25);
    }
    .slider-nav-animation.slider-nav-animation-turn .slider-container>*>* {
        transform: rotateY(70deg);
    }
    .slider-nav-animation.slider-nav-animation-slideup .slider-container>*>* {
        transform: translateY(60%) scale(.99);
    }
    .slider-nav-animation.slider-nav-animation-slideup .slider-container {
        overflow-y: hidden;
    }
    .slider-nav-animation .slider-container>*.slide-visible>* {
        opacity: 1;
        transform: none;
    }
}

@media (min-width: 992px) {
    .slider-item-show6:not(.slider-item-snapstart) .slider-container>*,
    .slider-item-show4:not(.slider-item-snapstart) .slider-container>*,
    .slider-item-show2:not(.slider-item-snapstart) .slider-container>* {
        scroll-snap-align: unset;
    }
    .slider-item-show6:not(.slider-item-snapstart) .slider-container>*::before,
    .slider-item-show4:not(.slider-item-snapstart) .slider-container>*::before,
    .slider-item-show2:not(.slider-item-snapstart) .slider-container>*::before {
        content: " ";
        display: block;
        position: absolute;
        left: calc((var(--swiffy-slider-item-gap)/2)*-1);
        top: 0;
        /*FF fix setting w+h to 1 px - otherwise snap will not occur*/
        width: 1px;
        height: 1px;
        scroll-snap-align: var(--swiffy-slider-snap-align);
    }
    .slider-nav-outside-expand .slider-nav {
        margin-left: -5rem;
    }
    .slider-nav-outside-expand .slider-nav.slider-nav-next {
        margin-right: -5rem;
    }
    .slider-nav-sm.slider-nav-outside-expand .slider-nav {
        margin-left: -4rem;
    }
    .slider-nav-sm.slider-nav-outside-expand .slider-nav.slider-nav-next {
        margin-right: -4rem;
    }
    .slider-indicators-sm.slider-indicators {
        display: none;
    }
}

@media (max-width: 992px) {
    .swiffy-slider {
        --swiffy-slider-track-height: 0rem;
        --swiffy-slider-item-reveal: 0rem;
        --swiffy-slider-item-count: 1;
        --swiffy-slider-nav-zoom: .75;
    }
    .slider-item-reveal {
        --swiffy-slider-item-reveal: 4rem;
    }
    .slider-item-snapstart.slider-item-reveal {
        --swiffy-slider-item-reveal: 2rem;
    }
    .slider-item-show6 .slider-container {
        grid-auto-columns: calc(25% - (var(--swiffy-slider-item-gap)/4*3));
    }
    .slider-item-show6.slider-item-reveal .slider-container {
        grid-auto-columns: calc(25% - (var(--swiffy-slider-item-gap)/4*3) - .5rem);
    }
    .slider-item-show6.slider-item-reveal .slider-container>* {
        scroll-snap-align: unset;
    }
    .slider-item-show6.slider-item-reveal .slider-container>*::before {
        content: " ";
        display: block;
        position: absolute;
        left: calc((var(--swiffy-slider-item-gap)/2)*-1);
        top: 0;
        /*FF fix setting w+h to 1 px - otherwise snap will not occur*/
        width: 1px;
        height: 1px;
        scroll-snap-align: center;
    }
    .slider-nav::after {
        width: 2rem!important;
        height: 2rem!important;
        padding: 0.3rem!important;
    }
    .slider-nav-outside .slider-container {
        margin: 0 2rem;
    }
    .slider-nav-outside-expand .slider-nav {
        padding: 0;
        margin-left: -2rem;
    }
    .slider-nav-outside-expand .slider-nav.slider-nav-next {
        padding: 0;
        margin-right: -2rem;
    }
    .slider-indicators-square.slider-indicators>*,
    .slider-indicators-square .slider-indicators>*,
    .slider-indicators-round.slider-indicators>*,
    .slider-indicators-round .slider-indicators>* {
        width: .3rem;
        height: .3rem;
    }
    .slider-indicators {
        margin-bottom: .5rem;
        display: none;
    }
    .slider-nav-scrollbar .slider-indicators {
        margin-bottom: 0rem;
    }
    .slider-indicators>* {
        width: 1rem;
        height: 0.125rem;
        border-width: .25rem;
    }
    .slider-indicators-sm .slider-indicators,
    .slider-indicators-sm.slider-indicators {
        display: flex;
    }
}

@media (max-width: 768px) {
    .slider-item-show6 .slider-container {
        grid-auto-columns: calc(50% - (var(--swiffy-slider-item-gap)/2));
    }
    .slider-item-show6.slider-item-reveal .slider-container {
        grid-auto-columns: calc(50% - (var(--swiffy-slider-item-gap)/2) - 1.5rem);
    }
}

@media (hover: none) {
    .swiffy-slider:not(.slider-nav-touch) .slider-nav {
        display: none;
    }
    .swiffy-slider:not(.slider-nav-touch).slider-nav-outside-expand .slider-container,
    .swiffy-slider:not(.slider-nav-touch).slider-nav-outside .slider-container {
        margin: 0 0rem;
    }
    .slider-item-nosnap-touch {
        --swiffy-slider-snap-align: unset;
    }
}


/* PhotoSwipe CSS */

.pswp {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	z-index: 1500;
	-webkit-text-size-adjust: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	outline: none; }

.pswp * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box; }

.pswp img {
	max-width: none; }

.pswp--animate_opacity {
	opacity: 0.001;
	will-change: opacity;
	-webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
	transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--open {
	display: block; }

.pswp--zoom-allowed .pswp__img {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in; }

.pswp--zoomed-in .pswp__img {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab; }

.pswp--dragging .pswp__img {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing; }

.pswp__bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #FFF;
	background-color: var(--ai-bg-alt, #FFF);
	opacity: 0;
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: opacity; }

.pswp__scroll-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden; }

.pswp__container,
.pswp__zoom-wrap {
	-ms-touch-action: none;
	touch-action: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0; }

.pswp__container,
.pswp__img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none; }

.pswp__zoom-wrap {
	position: absolute;
	width: 100%;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
	-webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
	transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp__bg {
	will-change: opacity;
	-webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
	transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
	-webkit-transition: none;
	transition: none; }

.pswp__container,
.pswp__zoom-wrap {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden; }

.pswp__item {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden; }

.pswp__img {
	position: absolute;
	width: auto;
	height: auto;
	top: 0;
	left: 0; }

.pswp__img--placeholder {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden; }

.pswp__img--placeholder--blank {
	background: #222; }

.pswp--ie .pswp__img {
	width: 100% !important;
	height: auto !important;
	left: 0;
	top: 0; }

.pswp__error-msg {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	margin-top: -8px;
	color: #D0D0D0;
	color: var(--ai-light, #D0D0D0);
}

.pswp__error-msg a {
	color: #D0D0D0;
	color: var(--ai-light, #D0D0D0);
	text-decoration: underline;
}

.pswp__button {
	width: 44px;
	height: 44px;
	position: relative;
	background: none;
	cursor: pointer;
	overflow: visible;
	-webkit-appearance: none;
	display: block;
	border: 0;
	padding: 0;
	margin: 0;
	float: right;
	opacity: 0.75;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	-webkit-box-shadow: none;
	box-shadow: none; }
.pswp__button:focus,
.pswp__button:hover {
	opacity: 1; }
.pswp__button:active {
	outline: none;
	opacity: 0.9; }
.pswp__button::-moz-focus-inner {
	padding: 0;
	border: 0; }

.pswp__ui--over-close .pswp__button--close {
	opacity: 1; }

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
	background: url(media/pswp.png) 0 0 no-repeat;
	background-size: 264px 88px;
	width: 44px;
	height: 44px; }

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
	.pswp--svg .pswp__button,
	.pswp--svg .pswp__button--arrow--left:before,
	.pswp--svg .pswp__button--arrow--right:before {
		background-image: url(media/pswp.svg); }
	.pswp--svg .pswp__button--arrow--left,
	.pswp--svg .pswp__button--arrow--right {
		background: none; } }

.pswp__button--close {
	background-position: 0 -44px; }

.pswp__button--share {
	background-position: -44px -44px; }

.pswp__button--fs {
	display: none; }

.pswp--supports-fs .pswp__button--fs {
	display: block; }

.pswp--fs .pswp__button--fs {
	background-position: -44px 0; }

.pswp__button--zoom {
	display: none;
	background-position: -88px 0; }

.pswp--zoom-allowed .pswp__button--zoom {
	display: block; }

.pswp--zoomed-in .pswp__button--zoom {
	background-position: -132px 0; }

.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
	visibility: hidden; }

.pswp__button--arrow--left,
.pswp__button--arrow--right {
	background: none;
	top: 50%;
	margin-top: -50px;
	width: 70px;
	height: 100px;
	position: absolute; }

.pswp__button--arrow--left {
	left: 0; }

.pswp__button--arrow--right {
	right: 0; }

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
	content: '';
	top: 35px;
	background-color: rgba(0, 0, 0, 0.3);
	height: 30px;
	width: 32px;
	position: absolute; }

.pswp__button--arrow--left:before {
	left: 6px;
	background-position: -138px -44px; }

.pswp__button--arrow--right:before {
	right: 6px;
	background-position: -94px -44px; }

.pswp__counter,
.pswp__share-modal {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; }

.pswp__share-modal {
	display: block;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 10px;
	position: absolute;
	z-index: 1600;
	opacity: 0;
	-webkit-transition: opacity 0.25s ease-out;
	transition: opacity 0.25s ease-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: opacity; }

.pswp__share-modal--hidden {
	display: none; }

.pswp__share-tooltip {
	z-index: 1620;
	position: absolute;
	background: #FFF;
	background-color: var(--ai-bg-alt, #FFF);
	top: 56px;
	border-radius: 2px;
	display: block;
	width: auto;
	right: 44px;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	-webkit-transform: translateY(6px);
	-ms-transform: translateY(6px);
	transform: translateY(6px);
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: transform;
}

.pswp__share-tooltip a {
	display: block;
	padding: 8px 12px;
	color: #555;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
}

.pswp__share-tooltip a:hover {
	text-decoration: none;
	color: #555;
}

.pswp__share-tooltip a:first-child {
	border-radius: 2px 2px 0 0;
}

.pswp__share-tooltip a:last-child {
	border-radius: 0 0 2px 2px;
}

.pswp__share-modal--fade-in {
	opacity: 1;
}

.pswp__share-modal--fade-in .pswp__share-tooltip {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.pswp--touch .pswp__share-tooltip a {
	padding: 16px 12px; }

a.pswp__share--facebook:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: -12px;
	right: 15px;
	border: 6px solid transparent;
	border-bottom-color: #FFF;
	border-bottom-color: var(--ai-bg-alt, #FFF);
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	pointer-events: none; }

a.pswp__share--facebook:hover {
	background: #3E5C9A;
	color: #FFF;
	color: var(--ai-bg-alt, #FFF);
}

a.pswp__share--facebook:hover:before {
	border-bottom-color: #3E5C9A;
}

a.pswp__share--twitter:hover {
	background: #55ACEE;
	color: #FFF;
	color: var(--ai-bg-alt, #FFF);
}

a.pswp__share--pinterest:hover {
	background: #D0D0D0;
	background-color: var(--ai-light, #D0D0D0);
	color: #CE272D;
}

a.pswp__share--download:hover {
	background: #D0D0D0;
	background-color: var(--ai-light, #D0D0D0);
}

.pswp__counter {
	position: absolute;
	left: 0;
	top: 0;
	height: 44px;
	font-size: 13px;
	line-height: 44px;
	color: #FFF;
	color: var(--ai-bg-alt, #FFF);
	opacity: 0.75;
	padding: 0 10px; }

.pswp__caption {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: 44px;
}

.pswp__caption small {
	font-size: 11px;
	color: #D0D0D0;
	color: var(--ai-light, #D0D0D0);
}

.pswp__caption__center {
	text-align: start;
	max-width: 420px;
	margin: 0 auto;
	font-size: 13px;
	padding: 10px;
	line-height: 20px;
	color: #D0D0D0;
	color: var(--ai-light, #D0D0D0);
}

.pswp__caption--empty {
	display: none; }

.pswp__caption--fake {
	visibility: hidden; }

.pswp__preloader {
	width: 44px;
	height: 44px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-inline-start: -22px;
	opacity: 0;
	-webkit-transition: opacity 0.25s ease-out;
	transition: opacity 0.25s ease-out;
	will-change: opacity;
	direction: ltr; }

.pswp__preloader__icn {
	width: 20px;
	height: 20px;
	margin: 12px; }

.pswp__preloader--active {
	opacity: 1; }
.pswp__preloader--active .pswp__preloader__icn {
	background: url(media/preloader.gif) 0 0 no-repeat; }

.pswp--css_animation .pswp__preloader--active {
	opacity: 1; }
.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
	-webkit-animation: clockwise 500ms linear infinite;
	animation: clockwise 500ms linear infinite; }
.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
	-webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
	animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite; }

.pswp--css_animation .pswp__preloader__icn {
	background: none;
	opacity: 0.75;
	width: 14px;
	height: 14px;
	position: absolute;
	left: 15px;
	top: 15px;
	margin: 0; }

.pswp--css_animation .pswp__preloader__cut {
	position: relative;
	width: 7px;
	height: 14px;
	overflow: hidden; }

.pswp--css_animation .pswp__preloader__donut {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 14px;
	height: 14px;
	border: 2px solid #FFF;
	border-color: var(--ai-bg-alt, #FFF);
	border-radius: 50%;
	border-left-color: transparent;
	border-bottom-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	background: none;
	margin: 0; }

@media screen and (max-width: 1024px) {
	.pswp__preloader {
		position: relative;
		left: auto;
		top: auto;
		margin: 0;
		float: right; } }

@-webkit-keyframes clockwise {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg); }
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg); } }

@keyframes clockwise {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg); }
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg); } }

@-webkit-keyframes donut-rotate {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0); }
	50% {
		-webkit-transform: rotate(-140deg);
		transform: rotate(-140deg); }
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0); } }

@keyframes donut-rotate {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0); }
	50% {
		-webkit-transform: rotate(-140deg);
		transform: rotate(-140deg); }
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0); } }

.pswp__ui {
	-webkit-font-smoothing: auto;
	visibility: visible;
	opacity: 1;
	z-index: 1550; }

.pswp__top-bar {
	position: absolute;
	left: 0;
	top: 0;
	height: 44px;
	width: 100%; }

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: opacity;
	-webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
	transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
	visibility: visible; }

.pswp__top-bar,
.pswp__caption {
	background-color: rgba(0, 0, 0, 0.5); }

.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
	background-color: rgba(0, 0, 0, 0.3); }

.pswp__ui--idle .pswp__top-bar {
	opacity: 0; }

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
	opacity: 0; }

.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
	opacity: 0.001; }

.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
	display: none; }

.pswp__element--disabled {
	display: none !important; }

.pswp--minimal--dark .pswp__top-bar {
	background: none; }
