/* Product details */

/* Product detail, basic section */
.catalog-detail-basic h1.name {
	text-transform: uppercase;
	font-size: 125%;
	color: #555;
	color: var(--ai-secondary, #555);
	margin: 0;
	padding: 0;
	padding-bottom: 0.5rem;
}

.catalog-detail-basic .supplier,
.catalog-detail-basic .site,
.catalog-detail-basic .code {
	font-size: 80%;
}

.catalog-detail-basic .short {
	display: none;
}

@media (max-width: 480px) {
	.catalog-detail-basic {
		clear: both;
	}
}


/* Image */

.catalog-detail-image {
	margin-bottom: 2rem;
}

.catalog-detail-image .item-thumb {
	opacity: 0.7;
}

.catalog-detail-image .image-single,
.catalog-detail-image .thumbs-horizontal {
	overflow: hidden;
}

.catalog-detail-image .image-single .media-item .item,
.catalog-detail-image .pswp video {
	max-width: 100%;
	max-height: 100%;
	position: relative;
}

.catalog-detail-image .image-single,
.catalog-detail-image .image-single .media-item,
.catalog-detail-image .image-single img.item {
	max-height: calc((100vw - 30px) * 1.333);
}

.catalog-detail-image .thumbs-horizontal,
.catalog-detail-image .thumbs-horizontal img.item-thumb {
	max-height: calc((100vw - 30px) / 4 * 1.333);
}

@media screen and (min-width: 576px) {
	.catalog-detail-image .image-single,
	.catalog-detail-image .image-single .media-item,
	.catalog-detail-image .image-single img.item {
		max-height: calc((100vw / 2 - 30px) * 1.333);
	}

	.catalog-detail-image .thumbs-horizontal,
	.catalog-detail-image .thumbs-horizontal img.item-thumb {
		max-height: calc((100vw / 2 - 30px) / 4 * 1.333);
	}
}

@media screen and (min-width: 1200px) {
	.catalog-detail-image .image-single,
	.catalog-detail-image .image-single .media-item,
	.catalog-detail-image .image-single img.item {
		max-height: 760px;
	}

	.catalog-detail-image .thumbs-horizontal,
	.catalog-detail-image .thumbs-horizontal img.item-thumb {
		height: auto;
	}
}


/* Product detail, social section / action buttons */
.catalog-detail .catalog-social {
	margin: .5rem 0;
	float: right;

}

.catalog-detail .catalog-social .social-button,
.catalog-detail .catalog-actions .actions-button {
	font: normal normal normal 14px/1 bootstrap-icons;
	font-size: 150%;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background: none;
	border: none;
	width: 48px;
	height: 48px;
}

.catalog-detail .catalog-actions form {
	display: inline-block;
}

.catalog-detail .catalog-social .social-button-facebook:before,
.catalog-detail .catalog-social .social-button-twitter:before,
.catalog-detail .catalog-social .social-button-pinterest:before {
	display: inline-block;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.catalog-detail .catalog-social .social-button-facebook:before {
	content: "\f344";
}

.catalog-detail .catalog-social .social-button-whatsapp:before {
	content: "\f618";
}

.catalog-detail .catalog-social .social-button-twitter:before {
	content: "\f5ef";
}

.catalog-detail .catalog-social .social-button-pinterest:before {
	content: "\f663";
}

/* action buttons */
.catalog-detail .catalog-actions {
	float: left;
	margin: .5rem 0;
}

.catalog-detail .catalog-actions .actions-button-favorite:before {
	content: "\f417";
}

.catalog-detail .catalog-actions .actions-button-pin:before {
	content: "\f4eb";
}

.catalog-detail .catalog-actions .actions-button-watch:before {
	content: "\f341";
}

@media (min-width:576px) {

	.catalog-detail .catalog-actions .actions-button,
	.catalog-detail .catalog-social .social-button {
		width: 48px;
		height: 48px;
	}

	.catalog-detail .catalog-social,
	.catalog-detail .catalog-actions{
		margin: .5rem 0;
	}

}

@media (max-width:768px) {

	.catalog-detail .catalog-actions .actions-button,
	.catalog-detail .catalog-social .social-button {
		width: 36px;
		height: 36px;
	}

}

[dir="rtl"] .catalog-detail .catalog-social{
	float: right;
}

[dir="rtl"] .catalog-detail .catalog-actions{
	float: left;
}

[dir="rtl"] .catalog-detail .catalog-social .social-button,
[dir="rtl"] .catalog-detail .catalog-actions .actions-button{
	text-align: end
}


/* Product detail, basket section */
.catalog-detail-basket {
	margin: 1rem 0;
}

.catalog-detail-basket .price-list {
	display: none;
	color: #555;
	color: var(--ai-secondary, #555);
}

.catalog-detail-basket .price {
	display: none;
}

.catalog-detail-basket .price-actual {
	display: inline-block;
}

.catalog-detail-basket .price-item:first-of-type {
	display: block;
	font-size: 100%;
	font-weight: bold;
}

.catalog-detail-basket .price-item:first-of-type {
	display: block;
	cursor: pointer;
}

.catalog-detail-basket .price-item:first-of-type:after {
	font: normal normal normal 14px/1 bootstrap-icons;
	content: "\f282";
}

.catalog-detail-basket .price-item.toggle-js:first-of-type:after {
	font: normal normal normal 14px/1 bootstrap-icons;
	content: "\f286";
}

.catalog-detail-basket .price-item:last-of-type:after {
	content: "";
}

.catalog-detail-basket .price-item .quantity,
.catalog-detail-basket .price-item .value,
.catalog-detail-basket .price-item .costs,
.catalog-detail-basket .price-item .rebate,
.catalog-detail-basket .price-item .taxrate {
	vertical-align: baseline;
	display: inline-block;
	margin: 0.25rem 0;
	min-width: 4rem;
}

.catalog-detail-basket .price-item .rebatepercent {
	min-width: auto;
	position: relative;
	vertical-align: middle;
	margin-bottom: .3rem;
	line-height: 1;
}

.catalog-detail-basket .price-item:first-of-type .taxrate {
	display: inline-block;
	padding: 0 1rem;
}

.catalog-detail-basket .price-item:first-of-type .quantity,
.catalog-detail-basket .price-item .rebate,
.catalog-detail-basket .price-item .taxrate {
	display: none;
}

.catalog-detail-basket .price-item .taxrate {
	font-size: 80%;
}

/* add to basket */
.catalog-detail-basket .addbasket {
	margin-top: 1rem;
}

.catalog-detail-basket .addbasket .input-group {
	margin: auto;
}

/* services */
.catalog-detail-basket .service-intro {
	cursor: pointer;
	color: #555;
	color: var(--ai-secondary, #555);
}

.catalog-detail-service .service-list {
	list-style: none;
	color: #A0A0A0;
	padding: 0;
	max-width: 20rem;
	max-height: 10rem;
	overflow-y: auto;
	display: none;
}

.catalog-detail-service .service-name {
	display: inline-block;
	min-width: 8rem;
}

.catalog-detail-service .service-item .price-item {
	display: inline-block;
	text-align: end;
	min-width: 4rem;
}

.catalog-detail-service .service-item .price-item .costs {
	display: block;
}

.catalog-detail-service .service-item .price-item .value,
.catalog-detail-service .service-item .price-item .taxrate {
	display: none;
}

.catalog-detail-service .service-item .service-short {
	display: none;
}

.catalog-detail-basket .selection,
.catalog-detail-basket .attribute {
	margin: 1.5rem 0;
}

.catalog-detail-basket .selection,
.catalog-detail-basket .attribute {
	color: #555;
	color: var(--ai-secondary, #555);
	width: 100%;
	padding: 0;
}

.catalog-detail-basket .selection,
.catalog-detail-basket .attribute {
	padding: 0;
}

.catalog-detail-basket .select-attr {
	width: 25%;
}

.catalog-detail-basket .select-stock {
	text-align: center;
	width: 10%;
}

.catalog-detail-basket .select-stock .stockitem,
.catalog-detail-basket .select-stock .stocklevel {
	display: block;
}

.catalog-detail-basket .select-stock .stocktext {
	display: none;
}

.catalog-detail-basket .select-quantity {
	text-align: center;
	width: 15%;
}

.catalog-detail-basket .select-item {
	margin-top: 1rem;
	list-style: none;
}

.catalog-detail-baske .select-name {
	min-width: 5rem;
	font-weight: bold;
}

.catalog-detail-basket .select-hint {
	font-size: 80%;
	min-width: 5rem;
}

.catalog-detail-basket ul.select-list {
	padding: 0;
}

.catalog-detail-basket li.select-entry {
	list-style: none;
}

.catalog-detail-basket .input .select-entry {
	margin: 0.1rem 0;
}

.catalog-detail-basket .radio li.select-entry {
	display: inline-block;
	margin: 0;
}

.catalog-detail-basket .radio input.select-option {
	display: none;
}

.catalog-detail-basket .select-label {
	width: calc(100% - 4rem);
	font-weight: normal;
	margin-bottom: 0;
}

.catalog-detail-basket .color .select-label {
	border: 1px solid #FFF;
	border-color: var(--ai-bg-alt, #FFF);
	line-height: 0;
}

.catalog-detail-basket .select-label > span {
	padding: 0 0.25rem;
	min-width: 1.5rem;
}

.catalog-detail-basket .radio .select-label {
	border: 1px solid #D0D0D0;
	border-color: var(--ai-light, #D0D0D0);
	padding: 0.525rem;
	text-align: center;
	min-width: 2.5rem;
	width: auto;
}

.catalog-detail-basket .select-option:checked + .select-label {
	border: 1px solid #555;
	border-color: var(--ai-secondary, #555);
	background-color: #555;
	background-color: var(--ai-secondary, #555);
	color: #FFF;
	color: var(--ai-bg-alt, #FFF);
}

.catalog-detail-basket .select-option:disabled + .select-label {
	opacity: 0.25;
}

.catalog-detail-basket .selection .select-option:disabled + .select-label:after {
	position: absolute;
	content: "";
	width: 2.25rem;
	transform-origin: 0% 0%;
	transform: rotate(135deg);
	border-top: 1px solid #555;
	border-color: var(--ai-secondary, #555);
}

.catalog-detail-basket .selection input[type=number] {
	border-bottom: solid 1px #555;
	border-color: var(--ai-secondary, #555);
	text-align: center;
	padding: 0;
}

.catalog-detail-basket .select-quantity input[type=number] {
	width: 4rem;
	margin: 0 auto;
	border: 1px solid #555;
	border-color: var(--ai-secondary, #555);
}

.catalog-detail-basket .media-item {
	display: inline-block;
	line-height: 0;
	padding: 0;
	margin: 0;
}

.catalog-detail-basket .media-item > img {
	border: none;
	height: 1.3rem;
	width: 1.3rem;
}

.catalog-detail-basket .media-item + span {
	display: none;
}

.catalog-detail-basket .error {
	color: #FF3300;
	color: var(--ai-danger, #FF3300);
}

.catalog-detail-basket .error select {
	border: 1px solid #FF3300;
	border-color: var(--ai-danger, #FF3300);
}


/* Product detail, additional section */
.catalog-detail-additional .block {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.catalog-detail-additional .item {
	margin: 1%;
}

/* Hide attributes and properties from sub-products*/
.catalog-detail-additional .subproduct {
	display: none;
}
.catalog-detail-additional .subproduct-actual {
	display: table-row;
}

/* Product detail, additional attributes/properties section */
.catalog-detail-additional table.attributes,
.catalog-detail-additional table.properties {
	margin: 1%;
	width: 98%;
}

.catalog-detail-additional .attributes td,
.catalog-detail-additional .properties td {
	padding: 1%;
	width: 48%;
}

.catalog-detail-additional .attributes .media-list {
	display: inline-block;
}

.catalog-detail-additional .attributes .media-item {
	display: inline-block;
}

.catalog-detail-additional .attributes img {
	height: 1rem;
}

/* Product detail, additional download section */
.catalog-detail-additional .downloads .media-image {
	height: 3rem;
}


/* Supplier information */
.catalog-detail-supplier .content .supplier-name {
	text-transform: uppercase;
	margin: 1rem 0;
}

.catalog-detail-supplier .content {
	padding: 1%;
}

.catalog-detail-supplier .media-item {
	float: right;
	margin: 1rem;
}

[dir="rtl"] .catalog-detail-supplier .media-item {
	float: left;
}

.catalog-detail-supplier .media-item img {
	max-width: 400px;
	width: 100%;
}


/* Stock level */
.aimeos .catalog-detail-basket .stock-list {
	text-align: center;
	padding: 0.5rem 0;
	width: 100%;
}

.aimeos .catalog-detail-basket .stock-actual .stockitem {
	display: block;
}

.aimeos .catalog-detail-basket .stocklevel {
	display: none;
}

.aimeos .catalog-detail-basket .stocktext {
	display: block;
}

.aimeos .catalog-detail-basket .stock-unlimited,
.aimeos .catalog-detail-basket .stock-high {
	color: #006000;
	color: var(--ai-success, #006000);
}

.aimeos .catalog-detail-basket .stock-low {
	color: #E08000;
	color: var(--ai-warning, #E08000);
}

.aimeos .catalog-detail-basket .stock-out {
	color: #A00000;
}

/* Additional section */


.catalog-detail-additional .nav-tabs {
	border-bottom: 1px solid transparent;
	border-bottom-color: #282828;
	border-bottom-color: var(--ai-primary, #282828);
}

.catalog-detail-additional .nav-tabs .nav-link {
	margin-bottom: -1px;
	border: 1px solid transparent;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	transition: all .3s linear;
}

.catalog-detail-additional .nav-link:focus, .nav-link:hover {
	color: #282828;
}

.catalog-detail-additional .nav-tabs a:link:not(.btn):hover {
	border: 1px solid transparent;
	color: #282828;
	color: var(--ai-primary, #282828);
	background-color: #F6F6F6;
	background-color: var(--ai-bg-light, #F6F6F6);
	transition: all .3s linear;
}

.catalog-detail-additional .nav-tabs a {
	font-size: 120%;
	text-transform: uppercase;
	color: #282828;
	color: var(--ai-primary, #282828);
}

.catalog-detail-additional .nav-tabs .nav-item.show .nav-link {
	color: #495057;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
}

.catalog-detail-additional .nav-tabs .nav-link.active:not(.btn) {
	color: #FFFFFF;
	color: var(--ai-primary-alt, #FFFFFF);
	border: 1px solid transparent;
	background-color: #282828;
	background-color: var(--ai-primary, #282828);
}

.catalog-detail-additional .nav-review .ratings {
	display: inline-block;
	margin-inline-start: .25rem;
	padding: .25rem .4rem;
	font-weight: bold;
	font-size: 75%;
	line-height: 1;
	white-space: nowrap;
	vertical-align: text-bottom;
	border-radius: .25rem;
	background-color: #FFA500;
	background-color: var(--ai-warning, #FFA500);
	color: #FFFFFF;
	color: var(--ai-primary-alt, #FFFFFF);
}

.catalog-detail-additional.tab-content {
	background-color: #F6F6F6;
	background-color: var(--ai-bg-light, #F6F6F6);
	border: none;
	width: 100%;
}

.catalog-detail-additional.tab-content .fade {
	transition: opacity .15s linear;
}


/* Rating */

.catalog-detail-additional progress {
	vertical-align: middle;
	width: 100%;
}

.catalog-detail-additional progress[value] {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	height: 0.25rem;
	background-color: #D0D0D0;
	background-color: var(--ai-light, #D0D0D0);
	color: #A00000;
	color: var(--ai-primary, #A00000);
}

.catalog-detail-additional progress[value]::-webkit-progress-bar {
	background-color: #D0D0D0;
	background-color: var(--ai-light, #D0D0D0);
}

.catalog-detail-additional progress::-moz-progress-bar {
	background-color: #A00000;
}

.catalog-detail-additional progress::-webkit-progress-value {
	background-color: #A00000;
}

.catalog-detail-basic .rating {
	text-align: start;
}

.catalog-detail-basic .rating-value,
.catalog-detail-basic .ratings {
	display: none;
}

.catalog-detail-additional .rating-numbers {
	margin-bottom: 1rem;
}

.catalog-detail-additional .rating-num {
	font-size: 125%;
	float: left;
}

[dir="rtl"] .catalog-detail-additional .rating-num {
	float: right;
}

.catalog-detail-additional .rating-total {
	font-size: 125%;
	float: right;
}

[dir="rtl"] .catalog-detail-additional .rating-total {
	float: left;
}

.catalog-detail-additional .rating-stars {
	display: none;
}

.catalog-detail-additional .rating-dist {
	vertical-align: middle;
	clear: both;
}

.catalog-detail-additional .rating-label label {
	margin: 0;
}

.catalog-detail-additional .rating-percent {
	padding-inline-start: 0.5rem;
	width: 100%;
}

.catalog-detail-additional .reviews tr,
.catalog-detail-additional .reviews tr:last-child {
	border-bottom: none;
}

.catalog-detail-additional .review-list .sort {
	text-align: end;
	display: block;
	margin: 0 2.5%;
}

.catalog-detail-additional .review-name {
	font-weight: bold;
	padding: 0.5rem 0;
}

.catalog-detail-additional .review-ctime {
	font-size: 80%;
}

.catalog-detail-additional .review-rating {
	font-weight: bold;
	padding: 0.5rem 0;
}

.catalog-detail-additional .review-comment {
	padding: 1rem 0;
}

.catalog-detail-additional .review-response {
	background: #f8f8f8;
	padding: 1rem;
}

.catalog-detail-additional .review-vendor {
	font-size: 80%;
	margin: -0.5rem;
	margin-bottom: 0.5rem;
}

.catalog-detail-additional .review-item {
	border-bottom: 1px solid #555;
	border-color: var(--ai-secondary, #555);
	margin: 1rem;
	max-height: 15rem;
	overflow: hidden;
	position: relative;
}

.catalog-detail-additional .review-show {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 2rem;
	text-align: center;
	background: linear-gradient(0deg, white 0% 50%, transparent);
}

.catalog-detail-additional .review-list .more {
	display: none;
	margin: auto;
}

.catalog-detail-additional .review-list .more.show {
	display: block;
}

.catalog-detail .product .text-list {
	margin: 0.5rem 0;
}

.catalog-detail table > thead > tr > th,
.catalog-detail table > tbody > tr > td,
.catalog-detail table > tfoot > tr > td {
	color: #555;
	color: var(--ai-secondary, #555);
	border: none;
}

.catalog-detail thead {
	border-bottom: 1px solid #555;
	border-bottom-color: var(--ai-secondary, #555);
}

.catalog-detail tbody tr {
	border-bottom: 1px solid #D0D0D0;
	border-bottom-color: var(--ai-light, #D0D0D0);
}

.catalog-detail tbody tr:last-child {
	border-bottom: 1px solid #555;
	border-bottom-color: var(--ai-secondary, #555);
}

/* product suggest, product bought */

.aimeos .catalog-detail-suggest .supplier,
.aimeos .catalog-detail-bought .supplier{
	   display: none;
}

.aimeos .catalog-detail-suggest .product .rating,
.aimeos .catalog-detail-bought .product .rating{
	   margin: .25rem 0;
}

.aimeos .catalog-detail-suggest .text-list h2,
.aimeos .catalog-detail-bought .text-list h2{
	   height: 2.5rem;
	   text-align: start;
}

.aimeos .catalog-detail-suggest .text-list,
.aimeos .catalog-detail-bought .text-list{
	   text-align: start;
	   padding: 0;
}

.aimeos .catalog-detail-suggest .product .text-item,
.aimeos .catalog-detail-bought .product .text-item{
	   height: 5rem;
	   text-align: start;
	   display: none;
}

.aimeos .catalog-detail-suggest .offer,
.aimeos .catalog-detail-bought .offer{
	   text-align: start;
}

.catalog-detail .product .price-list .rebate {
	display: none;
}

.catalog-detail-bought,
.catalog-detail-bundle,
.catalog-detail-suggest {
	clear: both;
	padding: 0;
	text-align: center;
	margin: 1rem 0;
}

.catalog-detail .header {
	border-bottom: solid 1px #555;
	border-bottom-color: var(--ai-secondary, #555);
	text-transform: uppercase;
	text-align: start;
	font-weight: normal;
	padding: 0.5rem 1rem;
	color: #555;
	color: var(--ai-secondary, #555);
}

.catalog-detail-bought .product,
.catalog-detail-bundle .product,
.catalog-detail-suggest .product {
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align: right;
	width: 160px;
	margin: 1%;
	padding: 0;
}

.catalog-detail-bought .media-list,
.catalog-detail-bundle .media-list,
.catalog-detail-suggest .media-list {
	background-color: #F6f6F6;
	background-color: var(--ai-bg-alt, #F6f6F6);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: relative;
	text-align: center;
	overflow: hidden;
	height: 213px;
	width: 160px;
	display: block;
}

.catalog-detail-bought .media-item,
.catalog-detail-bundle .media-item,
.catalog-detail-suggest .media-item {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 213px;
	width: 160px;
}

.catalog-detail-bought .media-item img,
.catalog-detail-bundle .media-item img,
.catalog-detail-suggest .media-item img {
	position: relative;
	max-width: 100%;
	display: block;
	margin: auto;
	height: auto;
	top: 50%;
	transform: translate(0, -50%);
}

.catalog-detail-bought .name,
.catalog-detail-bundle .name,
.catalog-detail-suggest .name {
	margin: 0;
	padding: 0;
	height: 1rem;
	font-size: 100%;
	font-weight: normal;
	overflow: hidden;
	text-transform: uppercase;
	max-width: 15rem;
	margin: .75rem auto;
}

/*suggested, bought Items hover transition*/

.catalog-detail-suggest .media-list .media-item,
.catalog-detail-bought .media-list .media-item{
	position: absolute;
}

.catalog-detail-suggest .media-list div:first-of-type,
.catalog-detail-bought .media-list div:first-of-type{
	opacity: 1;
	transition: opacity .3s linear;
	z-index: 1;
}

.catalog-detail-suggest .media-list:hover div:first-of-type,
.catalog-detail-bought .media-list:hover div:first-of-type{
	opacity: 0;
	transition: opacity .3s linear;
}
