/* slider */
.catalog-list.swiffy-slider {
	--swiffy-slider-snap-align: start;
}

@media (min-width: 520px) {
	.catalog-list.swiffy-slider {
		--swiffy-slider-item-count: 2;
	}
}

@media (min-width: 768px) {
	.catalog-list.swiffy-slider {
		--swiffy-slider-item-count: 3;
	}
}

@media (min-width: 992px) {
	.catalog-list.swiffy-slider {
		--swiffy-slider-item-count: 4;
	}
}

/* Product list */
.catalog-list a:focus {
	outline: none;
}

.catalog-list {
	font-size: 90%;
	padding: 0;
}

.catalog-list .product {
	display: inline-block;
	vertical-align: top;
	margin: 2rem 1%;
}

.catalog-list .product-item {
	vertical-align: top;
	white-space: normal;
	position: relative;
	overflow: hidden;
	text-align: right;
	font-size: 100%;
	width: 240px;
	margin: auto;
}

.catalog-list .product-item a {
	text-decoration: none;
}

/* media list */
.catalog-list .media-list {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: relative;
	overflow: hidden;
	display: block;
	height: 320px;
	width: 240px;
}

.catalog-list .media-list .media-item {
	position: absolute;
	height: 320px;
	width: 240px;
}

.catalog-list .media-list .media-item img {
	position: relative;
	max-height: 100%;
	max-width: 100%;
	height: auto;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
}

.catalog-list .media-list .media-item {
	position: absolute;
}

.catalog-list .media-list div:first-of-type {
	opacity: 1;
	transition: opacity .3s linear;
	z-index: 1;
}

.catalog-list .media-list:hover div:first-of-type {
	opacity: 0;
	transition: opacity .3s linear;
}

.catalog-list .list-column:last-of-type {
	padding: 0 1rem;
}

/* product offer part */
.catalog-list .offer {
	display: flex;
	flex-wrap: wrap;
	direction: ltr;
}

/* price list */
.catalog-list .price-item:not(:first-of-type) {
	display: none;
}

/* Product forms */
.catalog-list .product .form-control {
	font-size: 90%;
}


/* List head section */
.catalog-list-head {
	max-height: 30rem;
	overflow: hidden;
	padding: 0;
}

.catalog-list-head,
.catalog-list-footer {
	padding: 1rem .5rem;
}

.catalog-list-head h1 {
	font-weight: bold;
	padding: 1rem .25rem;
	letter-spacing: 1.5px;
	margin: 0;
	text-align: center;
}

.catalog-list-head .long,
.catalog-list-footer .long {
	padding: 0.5rem 0;
	color: #555;
	color: var(--ai-secondary, #555);
	letter-spacing: 1.5px;
}

.catalog-list .list-search {
	font-weight: bold;
}

.catalog-list .searchstring {
	font-size: 133%;
	color: #555;
	color: var(--ai-secondary, #555);
}

/* Product list, promotion section */
.catalog-list-promo {
	text-align: center;
	margin: 2rem 0;
}

.catalog-list-promo .header {
	text-align: start;
	border: 0 none;
	font-size: 1.25rem;
	font-weight: bold;
	padding: 0.5rem;
	color: #555;
	color: var(--ai-secondary, #555);
}

.catalog-list-promo {
	white-space: nowrap;
	overflow: auto;
	font-size: 90%;
	padding: 0;
}

.catalog-list-promo .product {
	border: none 0;
}

.catalog-list-items {
	text-align: center;
	animation: fadein 1s;
	animation-delay: 4s;
}

.catalog-list-items .slider-container {
	overflow-x: hidden;
}

.catalog-list-items .slider-nav::after {
	background-color: #555;
	background-color: var(--ai-secondary, #555);
}

.catalog-list-items .selection,
.catalog-list-items .attribute {
	clear: both;
}

.catalog-list-items .list .product-item {
	border-left: solid 1px #555;
	border-left-color: var(--ai-secondary, #555);
}

.catalog-list-items .list .list-column {
	width: 240px;
}

.catalog-list-items .list .media-list {
	display: block;
}

@media screen and (min-width: 576px) {
	.catalog-list-items .list .product-item {
		display: flex;
		width: 481px;
	}
}


/* Product list type switcher */
.catalog-list-type {
	text-align: end;
}

.catalog-list-type .type-item {
	display: inline-block;
	padding: 0.5rem;
}

.catalog-list-type a.type-item:link,
.catalog-list-type a.type-item:visited {
	color: #555;
	color: var(--ai-secondary, #555);
}

.catalog-list-type .type-grid:after {
	font: normal normal normal 20px/1 bootstrap-icons;
	content: "\f3fc";
}

.catalog-list-type .type-list:after {
	font: normal normal normal 20px/1 bootstrap-icons;
	content: "\f606";
}

.catalog-list-items .price {
	display: none;
}

.catalog-list-items .price-actual {
	display: inline-block;
}

.catalog-list-items .price-item:first-of-type {
	display: block;
	font-size: 100%;
	font-weight: bold;
}

/* product attributes */

.catalog-list-items:not(.list) .items-selection,
.catalog-list-items:not(.list) .items-attribute {
	display: none;
}

.catalog-list-items .selection,
.catalog-list-items .attribute {
	color: #555;
	color: var(--ai-secondary, #555);
	width: 100%;
	padding: 0;
}

.catalog-list-items .selection,
.catalog-list-items .attribute {
	padding: 0;
}

.catalog-list-items .basket {
	width: 100%;
	direction: unset;
}

.catalog-list-items .basket .items-selection {
	margin-top: 1rem;
}

.catalog-list-items .basket .select-attr {
	width: 25%;
}

.catalog-list-items .basket .select-stock {
	text-align: center;
	width: 10%;
}

.catalog-list-items .basket .select-stock .stockitem,
.catalog-list-items .basket .select-stock .stocklevel {
	display: block;
}

.catalog-list-items .basket .select-stock .stocktext {
	display: none;
}

.catalog-list-items .basket .select-quantity {
	text-align: center;
	width: 15%;
}

.catalog-list-items .basket .select-item {
	margin-top: 1rem;
	list-style: none;
}

.catalog-list-items .basket .select-name {
	min-width: 5rem;
	font-weight: bold;
}

.catalog-list-items .basket .select-hint {
	font-size: 80%;
	min-width: 5rem;
}

.catalog-list-items .basket ul.select-list {
	padding: 0;
}

.catalog-list-items .basket li.select-entry {
	list-style: none;
}

.catalog-list-items .basket .input .select-entry {
	margin: 0.1rem 0;
}

.catalog-list-items .basket .radio li.select-entry {
	display: inline-block;
	margin: 0;
}

.catalog-list-items .basket .radio input.select-option {
	display: none;
}

.catalog-list-items .basket .select-label {
	width: calc(100% - 4rem);
	font-weight: normal;
	margin-bottom: 0;
}

.catalog-list-items .basket .color .select-label {
	border: 1px solid #FFF;
	border-color: var(--ai-bg-alt, #FFF);
	line-height: 0;
}

.catalog-list-items .basket .select-label > span {
	padding: 0 0.25rem;
	min-width: 1.5rem;
}

.catalog-list-items .basket .radio .select-label {
	border: 1px solid #D0D0D0;
	border-color: var(--ai-light, #D0D0D0);
	padding: 0.525rem;
	text-align: center;
	min-width: 2.5rem;
	width: auto;
}

.catalog-list-items .basket .select-option:checked + .select-label {
	border: 1px solid #555;
	border-color: var(--ai-secondary, #555);
	background-color: #555;
	background-color: var(--ai-secondary, #555);
	color: #FFF;
	color: var(--ai-bg-alt, #FFF);
}

.catalog-list-items .basket .select-option:disabled + .select-label {
	opacity: 0.25;
}

.catalog-list-items .selection .select-option:disabled + .select-label:after {
	position: absolute;
	content: "";
	width: 2.25rem;
	transform-origin: 0% 0%;
	transform: rotate(135deg);
	border-top: 1px solid #555;
	border-color: var(--ai-secondary, #555);
}

.catalog-list-items .basket .selection input[type=number] {
	border-bottom: solid 1px #555;
	border-color: var(--ai-secondary, #555);
	text-align: center;
	padding: 0;
}

.catalog-list-items .basket .media-item {
	display: inline-block;
	line-height: 0;
	padding: 0;
	margin: 0;
}

.catalog-list-items .basket .media-item > img {
	border: none;
	height: 1.3rem;
	width: 1.3rem;
}

.catalog-list-items .basket .media-item + span {
	display: none;
}

.catalog-list-items .basket .error {
	color: #FF3300;
	color: var(--ai-danger, #FF3300);
}

.catalog-list-items .basket .error select {
	border: 1px solid #FF3300;
	border-color: var(--ai-danger, #FF3300);
}

.catalog-list-items .addbasket {
	margin-top: 1rem;
}

[dir="rtl"] .catalog-list-items .addbasket {
	direction: rtl;
}

.catalog-list-items .addbasket input[type="number"] {
	width: 3rem;
}

.catalog-list-items .addbasket .btn-primary {
	width: calc(100% - 6rem);
}

.catalog-list-items .addbasket .btn-primary:before {
	font-family: bootstrap-icons;
	content: "\f180";
}

.catalog-list-items .addbasket .btn-pin {
	border: 1px solid #282828;
	border-color: var(--ai-primary, #282828);
	display: block;
	width: 3rem;
	padding: 0.5rem;
}

.catalog-list-items .addbasket .btn-pin:before {
	font-family: bootstrap-icons;
	vertical-align: middle;
	content: "\f4ea";
}

.catalog-list-items .addbasket .btn-pin.active,
.catalog-list-items .addbasket .btn-primary:hover,
.catalog-list-items .addbasket .btn-pin:hover {
	background-color: #FFA500;
	background-color: var(--ai-warning, #FFA500);
	border-color: var(--ai-warning, #FFA500);
	color: #FFFFFF !important;
	color: var(--ai-bg, #FFFFFF) !important;
}
