/* Suggested products */

.aimeos.catalog-suggest {
	border-bottom: solid 1px #D0D0D0;
	border-bottom-color: var(--ai-light, #D0D0D0);
}

.aimeos.catalog-suggest:last-child {
	border: none;
}

.aimeos .suggest-item {
	text-decoration: none;
	padding: 0.5% 2.5%;
	display: table;
	width: 100%;
}

.aimeos .suggest-item .item-name {
	display: inline-block;
	width: calc(80% - 0.5rem);
}

.aimeos .suggest-item .item-price {
	display: inline-block;
}

.aimeos .suggest-item .item-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: block;
	float: left;
	width: 20%;
	height: 2.5rem;
	margin-inline-end: 0.5rem;
}

[dir="rtl"] .aimeos .suggest-item .item-image {
	float: right;
}

.aimeos .suggest-item {
	padding: .25rem 1rem;
}

.aimeos.catalog-suggest {
	border-bottom: none;
}

.aimeos a.suggest-item:link:not(.btn),
.aimeos a.suggest-item:visited:not(.btn) {
	color: #282828;
	color: var(--ai-primary, #282828);
	text-decoration: none;
	transition: color .3s;
}

.aimeos a.suggest-item:link:not(.btn):hover,
.aimeos a.suggest-item:visited:not(.btn):hover {
	color: #555555;
	color: var(--ai-secondary, #555);
	text-decoration: none;
	transition: color .3s;
}
