.aimeos .product-item .badges {
	position: absolute;
	text-align: start;
	color: #fff;
	z-index: 2;
}

.aimeos .product-item .badge-item {
	letter-spacing: 1.5px;
	padding: .1rem .5rem;
	font-size: 100%;
	display: none;
}

.aimeos .product-item.new .badge-item.new {
	background-color: #282828;
	display: block;
}

.aimeos .product-item.sale .badge-item.sale {
	background-color: #A00000;
	display: inline-block;
	padding: .1rem .5rem;
	font-weight: bold;
}

.aimeos .product .supplier {
	margin: 0.5rem 0;
}

/* ratings */
.aimeos .product .rating {
	margin: 1.25rem 0;
	height: 0.8px;
}

.aimeos .product .stars {
	color: #555;
	color: var(--ai-secondary, #555);
	position: relative;
	top: -0.7rem;
}


/* text list */
.aimeos .product .text-list {
	display: block;
	color: #555;
	color: var(--ai-secondary, #555);
	letter-spacing: 1.5px;
	line-height: 1.1;
	overflow: hidden;
}

.aimeos .product .text-list h2 {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 100%;
	overflow: hidden;
	text-align: right;
	height: 2.25rem;
	margin: 0;
	margin-bottom: .5rem;
	letter-spacing: 1.5px;
}

.aimeos .product .text-list .text-item {
	overflow: hidden;
	height: 2rem;
}


.aimeos .product .price-list {
	display: inline-block;
	box-sizing: content-box;
	margin-inline-start: auto;
}

/* Stock level */
.aimeos .product .stock-list {
	display: inline-block;
}

.aimeos .product .stockitem {
	display: none;
}

.aimeos .product .stock-actual .stockitem {
	display: inline-block;
}

.aimeos .product .stocklevel {
	display: inline-block;
	border-radius: 0.5rem;
	margin-top: 0.5rem;
	height: 1rem;
	width: 1rem;
}

.aimeos .product .stocktext {
	display: none;
}

.aimeos .product .stock-unlimited .stocklevel,
.aimeos .product .stock-high .stocklevel {
	background-color: #006000;
	background-color: var(--ai-success, #006000);
}

.aimeos .product .stock-low .stocklevel {
	background-color: #E08000;
	background-color: var(--ai-warning, #E08000);
}

.aimeos .product .stock-out .stocklevel {
	background-color: #A00000;
}

.aimeos .product .addbasket .input-group {
	text-align: center;
}

.aimeos .product .addbasket input {
	border: 1px solid #555;
	border-color: var(--ai-secondary, #555);
	text-align: center;
	width: 4rem;
	margin: 0;
}

.aimeos .product .addbasket button {
	margin: 0;
}
