/* Locale selector */
.locale-select {
	display: inline-block;
}

.locale-select .header {
	display: none;
}

.locale-select ul.select-menu {
	text-transform: uppercase;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}

.locale-select li.select-dropdown {
	border: 1px solid transparent;
	display: inline-block;
	padding: 0;
}

.locale-select li.select-dropdown > a:before {
	content: "» ";
}

.locale-select ul.select-menu a {
	text-decoration: none;
	white-space: nowrap;
	display: block;
	padding: 0.5rem 1rem;
}

.locale-select ul.select-menu .select-current > a,
.locale-select ul.select-menu .select-current > a:link,
.locale-select ul.select-menu .select-current > a:visited {
	color: #FFFFFF;
	color: var(--ai-primary-alt, #FFFFFF);
}

.locale-select ul.select-menu .select-current > a:hover
.locale-select ul.select-menu .select-current > a:link:hover,
.locale-select ul.select-menu .select-current > a:visited:hover {
	color: #CCCCCC;
	color: var(--ai-light, #CCCCCC);
}

.locale-select ul.select-menu a:hover {
	text-decoration: underline;
}

.locale-select ul.select-menu li.select-dropdown:hover > ul,
.locale-select ul.select-menu ul.active {
	border: 1px solid #D0D0D0;
	border-color: var(--ai-light, #D0D0D0);
	visibility: visible;
	opacity: 1;
}

.locale-select ul.select-menu ul {
	list-style: none outside none;
	background-color: #FFF;
	background-color: var(--ai-bg, #FFF);
	position: absolute;
	visibility: hidden;
	z-index: 99999;
	opacity: 0;
	padding: 0rem;
	padding-inline-start: 0.65rem;
}

.locale-select-language,
.locale-select-currency {
	display: inline-block;
	min-width: 3rem;
}
