/* Locale selector */
.locale-select {
	display: inline-block;
}

.locale-select .header {
	display: none;
}

.locale-select ul.select-menu {
	text-transform: uppercase;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}

.locale-select li.select-dropdown {
	border: 1px solid transparent;
	display: inline-block;
	padding: 0;
}

.locale-select li.select-dropdown > a:before {
	content: "» ";
}

.locale-select ul.select-menu a {
	text-decoration: none;
	white-space: nowrap;
	display: block;
	padding: 0.25rem;
	line-height: 1;
}

.locale-select ul.select-menu a:hover,
.locale-select ul.select-menu a:link,
.locale-select ul.select-menu a:visited {
	color: #FFF;
	color: var(--ai-bg, #FFF);
	text-decoration: none;
}

/* .locale-select ul.select-menu .select-current > a,
.locale-select ul.select-menu .select-current > a:link,
.locale-select ul.select-menu .select-current > a:visited {
	color: #FFFFFF;
	color: var(--ai-bg, #FFFFFF);
} */

.locale-select ul.select-menu .select-current > a:hover
.locale-select ul.select-menu .select-current > a:link:hover,
.locale-select ul.select-menu .select-current > a:visited:hover {
	color: #FFFFFF;
	color: var(--ai-bg, #FFFFFF);
}

.locale-select ul.select-menu a:hover {
	text-decoration: underline;
}

.locale-select ul.select-menu li.select-dropdown:hover > ul,
.locale-select ul.select-menu ul.active {
	border: 1px solid #FFF;
	border-color: var(--ai-bg, #FFF);
	visibility: visible;
	opacity: 1;
}

.locale-select ul.select-menu ul {
	list-style: none outside none;
	background-color: #282828;
	background-color: var(--ai-primary, #282828);
	position: absolute;
	visibility: hidden;
	z-index: 99999;
	opacity: 0;
	padding: 0.5rem 0;
	z-index: 1000;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.15);
}

.locale-select ul.select-menu ul li {
	padding: .25rem 0.5rem;
}

.locale-select li.select-dropdown ul.select-dropdown li:hover {
	background-color: #555;
	background-color: var(--ai-secondary, #555);
}

.locale-select li.select-dropdown ul.select-dropdown li:hover a {
	color: #FFFFFF;
	color: var(--ai-bg, #FFFFFF);
}

.locale-select-language,
.locale-select-currency {
	display: inline-block;
	min-width: 2rem;
}
